<!DOCTYPE html>
<html lang="en">
  <head>
<%- include("templates/head", {page_title: "Tick Plan", page_description: "Tick Plan"}); %>
  </head>
  <body  class="page-tickplan">
    <header>
<%- include("templates/header"); %>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2><%= race.toUpperCase() %> Tick Plan</h2>
              <% if(content_exists && race == "ter") { %>
<%- include("content/strat_tickplan_ter.html"); %>
              <% } else if(content_exists && race == "cat") { %>
<%- include("content/strat_tickplan_cat.html"); %>
              <% } else if(content_exists && race == "xan") { %>
<%- include("content/strat_tickplan_xan.html"); %>
              <% } else if(content_exists && race == "zik") { %>
<%- include("content/strat_tickplan_zik.html"); %>
              <% } else if(content_exists && race == "etd") { %>
<%- include("content/strat_tickplan_etd.html"); %>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
<%- include("templates/footer"); %>
    </footer>
  </body>
</html>
