<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Error", page_description: "Error"}); %>
</head>
<body class="page-error">
<header>
    <%- include("templates/header"); %>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <h2><%= message %></h2>
                    <p><%= error.status %></p>
                    <p>
                    <pre><%= error.stack %></pre>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include("templates/footer"); %>
</footer>
</body>
</html>
