<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Members", page_description: "Members"}); %>
</head>
<body class="page-members">
    <header>
    <%- include("templates/header"); %>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-1 col-xl-0"></div>
                <div class="col-xxl-10 col-xl-12">
                    <div class="content content-members">
                        <h2>Members</h2>
                        <table id="table-members" class="table table-sm table-striped table-bordered" data-toggle="table" data-search="true">
                            <thead>
                                <tr>
                                    <th scope="col" class="btn-col"></th>
                                    <th data-sortable="true" data-field="member" scope="col">Member (<%= members.length %>)</th>
                                    <th data-sortable="true" data-field="pa_nick" scope="col">PA Nick</th>
                                    <th data-sortable="true" data-field="access" scope="col">Access</th>
                                    <th data-sortable="true" data-field="coords" scope="col">Coords</th>
                                    <th data-field="phone" scope="col">Phone</th>
                                    <th data-field="email" scope="col">Email</th>
                                    <% if(member.isADM || member.isHC) { %>
                                        <th data-sortable="true" data-field="lastaccess" scope="col" class="fit-content">Last Access</th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < members.length; ++i) { %>
                                <tr>
                                    <td class="fit-content no-wrap">
                                        <% if(member.isADM || (member.isHC && !members[i].isADM && !members[i].isHC)) { %>
                                            <button class="btn btn-sm btn-warning" onclick="window.location = '/mem/<%= members[i].id %>';"><i class="fas fa-pen" aria-hidden="true"></i></button>
                                            <form method="POST" action="/mem" class="d-inline-block">
                                                <button type="submit" name="deactivate" value="<%= members[i].id %>" class="btn btn-sm btn-danger" onclick="if(!confirm('Are you sure?')) { return false; }"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                                            </form>
                                        <% } %>
                                    </td>
                                    <th scope="row" class="no-wrap">
                                        <img class="tg-pic" src="<% if(members[i].photo_url) { %><%= members[i].photo_url %><% } else { %><%= default_profile_pic %><% } %>" width="30" height="30" alt=""/>
                                        <a href="tg://user?id=<%= members[i].telegram_user.telegram_id %>"><%= members[i].telegram_user.telegram_name %></a>
                                    </th>
                                    <td class="no-wrap"><%= members[i].pa_nick %></td>
                                    <td class="pr-3 no-wrap">
                                        <% if(member.isADM || (member.isHC && !members[i].isADM && !members[i].isHC)) { %>
                                            <form method="POST" action="/mem/<%= members[i].id %>">
                                                <div class="btn-group btn-group-sm position-static">
                                                    <div class="btn-group btn-group-sm position-static">
                                                        <button type="button" id="btnAccessRoles" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><%= members[i].accessRoles %></button>
                                                        <ul class="dropdown-menu" aria-labelledby="btnAccessRoles">
                                                            <li class="dropdown-header"><h6>Access</h6></li>
                                                            <li class="dropdown-item"><input id="access0_<%= members[i]._id %>" name="access" type="radio" value="0"<% if(members[i].access === 0) { %> checked="checked"<% } %> /> <label for="access0_<%= members[i]._id %>">Recruit</label></li>
                                                            <li class="dropdown-item"><input id="access1_<%= members[i]._id %>" name="access" type="radio" value="1"<% if(members[i].access === 1) { %> checked="checked"<% } %> /> <label for="access1_<%= members[i]._id %>">Member</label></li>
                                                            <li class="dropdown-item"><input id="access3_<%= members[i]._id %>" name="access" type="radio" value="3"<% if(members[i].access === 3) { %> checked="checked"<% } %> /> <label for="access3_<%= members[i]._id %>">Commander</label></li>
                                                            <li class="dropdown-item"><input id="access5_<%= members[i]._id %>" name="access" type="radio" value="5"<% if(members[i].access === 5) { %> checked="checked"<% } %> /> <label for="access5_<%= members[i]._id %>">Admin</label></li>
                                                            <li class="dropdown-divider"><hr /></li>
                                                            <li class="dropdown-header"><h6>Roles</h6></li>
                                                            <li class="dropdown-item"><input id="role1_<%= members[i]._id %>" name="role1" type="checkbox" value="1"<% if((members[i].roles & 1) !== 0) { %> checked="checked"<% } %> /> <label for="role1_<%= members[i]._id %>">OOT</label></li>
                                                            <li class="dropdown-item"><input id="role2_<%= members[i]._id %>" name="role2" type="checkbox" value="2"<% if((members[i].roles & 2) !== 0) { %> checked="checked"<% } %> /> <label for="role2_<%= members[i]._id %>">Scanner</label></li>
                                                            <li class="dropdown-item"><input id="role4_<%= members[i]._id %>" name="role4" type="checkbox" value="4"<% if((members[i].roles & 4) !== 0) { %> checked="checked"<% } %> /> <label for="role4_<%= members[i]._id %>">Battle Commander</label></li>
                                                            <li class="dropdown-item"><input id="role8_<%= members[i]._id %>" name="role8" type="checkbox" value="8"<% if((members[i].roles & 8) !== 0) { %> checked="checked"<% } %> /> <label for="role8_<%= members[i]._id %>">Defence Commander</label></li>
                                                            <li class="dropdown-item"><input id="role16_<%= members[i]._id %>" name="role16" type="checkbox" value="16"<% if((members[i].roles & 16) !== 0) { %> checked="checked"<% } %> /> <label for="role16_<%= members[i]._id %>">High Commander</label></li>
                                                        </ul>
                                                    </div>
                                                    <button type="submit" id="submitaccess<%= members[i].id %>>" name="submitaccess" class="btn btn-primary"><i class="fas fa-save" aria-hidden="true"></i></button>
                                                </div>
                                            </form>
                                        <% } else { %>
                                            <%= members[i].accessRoles %>
                                        <% } %>
                                    </td>
                                    <td class="no-wrap">
                                        <% if(members[i].planet) { %>
                                            <%= members[i].planet.x %>:<%= members[i].planet.y %>:<%= members[i].planet.z %>
                                        <% } %>
                                    </td>
                                    <td class="no-wrap">
                                        <% if(members[i].phone) { %>
                                            <% if(member.isADM) { %>
                                                <form class="d-inline-block" name="callMember" method='POST' action="/mem/call/<%= members[i].id %>">
                                                    <button type="submit" name="submitcall" value="<%= members[i].phone %>" class="btn btn-sm btn-info"><i class="fas fa-phone" aria-hidden="true"></i></button>
                                                </form>
                                            <% } %>
                                            <a href="tel:<%= members[i].phone %>">
                                                <%= members[i].phone %>
                                            </a>
                                        <% } %>
                                    </td>
                                    <td class="no-wrap">
                                        <% if(members[i].email) { %>
                                            <a href="mailto:<%= members[i].email %>">
                                                <%= members[i].email %>
                                            </a>
                                        <% } %>
                                    </td>
                                    <% if(member.isADM || member.isHC) { %>
                                        <td class="fit-content no-wrap">
                                            <% if(typeof (members[i].last_access) == "undefined") { %>
                                                never
                                            <% } else { %>
                                                <%= moment(members[i].last_access).fromNow() %>
                                            <% } %>
                                        </td>
                                    <% } %>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xxl-1 col-xl-0"></div>
            </div>
            <% if(member.isADM || member.isHC) { %>
            <div class="row">
                <div class="col-xxl-1 col-xl-0"></div>
                <div class="col-xxl-10 col-xl-12">
                    <div class="content">
                        <h2>Inactives</h2>
                        <table id="table-inactives" class="table table-sm table-striped table-bordered" data-toggle="table">
                            <thead>
                            <tr>
                                <th scope="col" class="btn-col"></th>
                                <th scope="col">Username (<%= inactives.length %>)</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th data-sortable="true" data-field="pa_nick" scope="col">PA Nick</th>
                                <th data-field="phone" scope="col">Phone</th>
                                <th data-field="email" scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < inactives.length; i++) { %>
                                <tr>
                                    <td class="btn-col">
                                        <form method="POST" action="/mem/inactives">
                                            <div class="btn-group btn-group-sm position-static" role="group">
                                                <button type="submit" name="activate" value="<%= inactives[i].id %>" class="btn btn-sm btn-success">
                                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="btn-group btn-group-sm position-static" role="group">
                                                <button type="submit" name="delete" value="<%= inactives[i].id %>" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <th scope="row">
                                        <img src="<% if(inactives[i].photo_url) { %><%= inactives[i].photo_url %><% } else { %><%= default_profile_pic %><% } %>" width="30" height="30" class="tg-pic"/>
                                        <% if(inactives[i].username) { %>
                                            <a href="https://t.me/<%= inactives[i].username %>"><%= inactives[i].username %></a>
                                        <% } else if(inactives[i].last_name) { %>
                                            <%= inactives[i].first_name %> <%= inactives[i].last_name %>
                                        <% } else { %>
                                            <%= inactives[i].first_name %>
                                        <% } %>
                                    </th>
                                    <td><%= inactives[i].first_name %></td>
                                    <td><%= inactives[i].last_name %></td>
                                    <td><%= inactives[i].pa_nick %></td>
                                    <td class="no-wrap">
                                        <% if(inactives[i].phone) { %>
                                            <% if(member.isADM) { %>
                                                <form class="d-inline-block" name="callMember" method='POST' action="/mem/call/<%= inactives[i].id %>">
                                                    <div class="btn-group btn-group-sm position-static" role="group">
                                                        <button type="submit" name="submitcall" value="<%= inactives[i].phone %>" class="btn btn-info"><i class="fas fa-phone" aria-hidden="true"></i></button>
                                                    </div>
                                                </form>
                                            <% } %>
                                            <a href="tel:<%= inactives[i].phone %>">
                                                <%= inactives[i].phone %>
                                            </a>
                                        <% } %>
                                    </td>
                                    <td>
                                        <% if(inactives[i].email) { %>
                                            <a href="mailto:<%= inactives[i].email %>">
                                                <%= inactives[i].email %>
                                            </a>
                                        <% } %>
                                    </td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xxl-1 col-xl-0"></div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <div class="content">
                        <h2>Applicants</h2>
                        <table id="table-applicants" class="table table-sm table-striped table-bordered" data-toggle="table">
                            <thead>
                            <tr>
                                <th scope="col" class="btn-col"></th>
                                <th scope="col">Username (<%= applicants.length %>)</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < applicants.length; i++) { %>
                                <tr>
                                    <td class="btn-col">
                                        <form method="POST" action="/mem/applicants">
                                            <div class="btn-group btn-group-sm position-static" role="group">
                                                <button type="submit" name="accept" value="<%= applicants[i].id %>" class="btn btn-sm btn-success">
                                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="btn-group btn-group-sm position-static" role="group">
                                                <button type="submit" name="reject" value="<%= applicants[i].id %>" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-times" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <th scope="row">
                                        <img src="<% if(applicants[i].photo_url) { %><%= applicants[i].photo_url %><% } else { %><%= default_profile_pic %><% } %>" width="30" height="30" class="tg-pic"/>
                                        <% if(applicants[i].username) { %>
                                            <a href="https://t.me/<%= applicants[i].username %>">
                                                <%= applicants[i].username %>
                                            </a>
                                        <% } else if(applicants[i].last_name) { %>
                                            <%= applicants[i].first_name %> <%= applicants[i].last_name %>
                                        <% } else { %>
                                            <%= applicants[i].first_name %>
                                        <% } %>
                                    </th>
                                    <td><%= applicants[i].first_name %></td>
                                    <td><%= applicants[i].last_name %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
            </div>
            <% } %>
            <% if(member.isADM) { %>
            <div class="row">
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <div class="content">
                        <h2>Galmates</h2>
                        <table id="table-galmates" class="table table-sm table-striped table-bordered" data-toggle="table">
                            <thead>
                            <tr>
                                <th scope="col" class="btn-col"></th>
                                <th scope="col">Galmate (<%= galmates.length %>)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < galmates.length; i++) { %>
                                <tr>
                                    <td class="btn-col">
                                        <form method="POST" action="/mem/galmate">
                                            <div class="btn-group btn-group-sm position-static" role="group">
                                                <button type="submit" name="delete" value="<%= galmates[i].id %>" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <th scope="row">
                                        <img src="<%= default_profile_pic %>" width="30" height="30" class="tg-pic"/>
                                        <%= galmates[i].telegram_user.telegram_name %>
                                    </th>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
            </div>
            <% } %>
        </div>
    </main>
    <footer>
    <%- include("templates/footer"); %>
    </footer>
</body>
</html>
