<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Profile", page_description: "Profile"}); %>
    <link rel="stylesheet" href="/styles/intlTelInput.min.css" />
    <script src="/scripts/intlTelInput-jquery.min.js"></script>
</head>
<body class="page-profile">
<header>
    <%- include("templates/header"); %>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <form method="POST" action="<%= post_action %>">
                        <h2>Profile</h2>
                        <table class="table table-sm table-transparent">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <div name="username" id="username" class="form-label" aria-describedby="label-username">
                                                <img class="tg-pic" src="<%= profile.photo_url %>" width="30" height="30" alt=""/>
                                                <% if(profile.username) { %>
                                                    <a href="https://t.me/<%= profile.username %>"><%= profile.username %></a>
                                                <% } else if(profile.last_name) { %>
                                                    <%= profile.first_name %> <%= profile.last_name %>
                                                <% } else { %>
                                                    <%= profile.first_name %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-theme" class="input-group-text">Theme</span>
                                            </div>
                                            <select id="site_theme" class="form-control custom-select" name="site_theme">
                                                <% for(var t = 0; t < themes.length; t++) { %>
                                                <option value="<%= themes[t].key %>"<% if(profile.site_theme === themes[t].key) { %> selected="selected"<% } %>><%= themes[t].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-theme" class="input-group-text">Navigation</span>
                                            </div>
                                            <select id="site_navigation" class="form-control custom-select" name="site_navigation">
                                                <option value="icons"<% if(profile.site_navigation === 'icons') { %> selected="selected"<% } %>>Icons Only</option>
                                                <option value="iconstext"<% if(profile.site_navigation === 'iconstext') { %> selected="selected"<% } %>>Icons / Text</option>
                                                <option value="text"<% if(profile.site_navigation === 'text') { %> selected="selected"<% } %>>Text Only</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-panick" class="input-group-text">PA Nick</span>
                                            </div>
                                            <input type="text" name="panick" id="panick" class="form-control" value="<%= profile.panick %>"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-timezone" class="input-group-text">Time Zone</span>
                                            </div>
                                            <select id="timezone" class="form-control custom-select" name="timezone">
                                                <option value=""<% if(profile.timezone === undefined) { %> selected="selected"<% } %>>None</option>
                                                <% for(var tz = 0; tz < timezones.length; tz++) { %>
                                                    <option value="<%= timezones[tz] %>"<% if(profile.timezone === timezones[tz]) { %> selected="selected"<% } %>><%= timezones[tz] %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-phone" class="input-group-text">Phone</span>
                                            </div>
                                            <input type="tel" name="phone" id="phone" class="form-control" value="<%= profile.phone %>"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-email" class="input-group-text">E-Mail</span>
                                            </div>
                                            <input type="email" name="email" id="email" class="form-control" value="<%= profile.email %>"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span id="label-planet" class="input-group-text">Planet</span>
                                            </div>
                                            <input type="number" name="planet_x" id="planet_x" class="form-control" placeholder="X" value="<% if(typeof (profile.planet) != "undefined" && profile.planet != null) { %><%= profile.planet.x %><% } %>"/>
                                            <input type="number" name="planet_y" id="planet_y" class="form-control" placeholder="Y" value="<% if(typeof (profile.planet) != "undefined" && profile.planet != null) { %><%= profile.planet.y %><% } %>"/>
                                            <input type="number" name="planet_z" id="planet_z" class="form-control" placeholder="Z" value="<% if(typeof (profile.planet) != "undefined" && profile.planet != null) { %><%= profile.planet.z %><% } %>"/>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-box">
                            <button type="submit" name="save" id="save" class="btn btn-sm btn-primary" value="save">
                                <i class="far fa-save" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include("templates/footer"); %>
</footer>
</body>
<script>
  $(function() {
    let phone_input = document.querySelector("#phone");
    $('#phone').intlTelInput({
      preferredCountries: ["au", "br", "ca", "fi", "de", "ie", "no", "nl", "ro", "es", "gb", "us"],
      hiddenInput: "full_phone",
      autoPlaceholder: "off",
      utilsScript: "/scripts/intlTelInput-utils.js"
    });
  });
</script>
</html>
