<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Register", page_description: "Register"}); %>
</head>
<body class="page-register">
<header>
    <%- include("templates/header"); %>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                <div class="content">
                    <% if(visitor !== undefined) { %>
                    <form method='POST' action='/reg'>
                    <% } %>
                        <h2>Register</h2>
                        <p class="justify-content-center">
                            <% if(visitor !== undefined) { %>
                                <img src="<%= visitor.photo_url %>" alt="profile" width="30" height="30" class="profile"/>
                                <% if(visitor.username) { %>
                                    <a href="https://t.me/<%= visitor.username %>"><%= visitor.username %></a>
                                <% } else if(visitor.last_name) { %>
                                    <%= visitor.first_name %> <%= visitor.last_name %>
                                <% } else { %>
                                    <%= visitor.first_name %>
                                <% } %>
                            <% } else if(applicant !== undefined) { %>
                                <img src="<%= applicant.photo_url %>" alt="profile" width="30" height="30" class="profile"/>
                                <% if(applicant.username) { %>
                                    <a href="https://t.me/<%= applicant.username %>"><%= applicant.username %></a>
                                <% } else if(applicant.last_name) { %>
                                    <%= applicant.first_name %> <%= applicant.last_name %>
                                <% } else { %>
                                    <%= applicant.first_name %>
                                <% } %>
                            <% } %>
                        </p>
                        <% if(visitor !== undefined) { %>
                            <p>
                                <div class="input-group input-group-sm mx-auto w-50">
                                    <div class="input-group-prepend">
                                        <span id="label-pa_nick" class="input-group-text">PA Nick</span>
                                    </div>
                                    <input type="text" name="pa_nick" id="pa_nick" class="form-control" />
                                </div>
                            </p>
                        <% } %>
                        <p class="justify-content-center">
                            <% if(visitor !== undefined) { %>
                                <button class="tg-btn" type="submit">Register</button>
                            <% } else if(applicant !== undefined) { %>
                                <% if(applicant.rejected) { %>
                                    Your application has been rejected.
                                <% } else { %>
                                    Your application has been received.
                                <% } %>
                            <% } %>
                        </p>
                    <% if(visitor !== undefined) { %>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include("templates/footer"); %>
</footer>
</body>
</html>
