<!DOCTYPE html>
<html lang="en">
  <head>
<%- include("templates/head", {page_title: "Scans", page_description: "Scans"}); %>
  </head>
  <body>
    <header>
<%- include("templates/header"); %>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
          <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
            <div class="content">
              <h2>Scanners</h2>
              <div class="table-responsive">
                <table class="table table-sm w-100">
                  <thead>
                    <tr>
                      <th class="text-left nowrap" scope="col">Scanner</th>
                      <th class="text-left nowrap" scope="col">Time Zone</th>
                      <th class="text-left nowrap" scope="col">Current Time</th>
                      <th class="text-left nowrap" scope="col">Race</th>
                      <th class="text-left nowrap" scope="col">Research</th>
                      <th class="text-left nowrap" scope="col">Amps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < scanners.length; i++) { %>
                      <% var race = scanners[i].planet && scanners[i].planet.race ? scanners[i].planet.race : "Unknown"; %>
                      <% var raceClass = scanners[i].planet && scanners[i].planet.race ? " class=" + scanners[i].planet.race.toLowerCase() : ""; %>
                      <% var tech = scanners[i].scans.d && scanners[i].scans.d.scan ? scantypes[scanners[i].scans.d.scan.waves + 1] : "Unknown"; %>
                      <% var amps = scanners[i].scans.d && scanners[i].scans.d.scan ? scanners[i].scans.d.scan.wave_amplifier : "Unknown"; %>
                      <tr>
                        <td><%= scanners[i].pa_nick %></td>
                        <td><%= scanners[i].timezone %></td>
                        <td><% if(scanners[i].currenttime !== undefined) { %><%= scanners[i].currenttime; %><% } %></td>
                        <td<%= raceClass %>><%= race %></td>
                        <td><%= tech %></td>
                        <td><%= amps %></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="content">
              <form method="POST" action="/scans/request">
                <h2>Request A Scan</h2>
                <div class="btn-box">
                  <div class="btn-group w-100" role="group" aria-label="Buttons">
                    <button type="submit" name="save" id="save" class="btn btn-success" value="save"><i class="fas fa-satellite-dish" aria-hidden="true"></i></button>
                  </div>
                </div>
                <table class="table table-sm table-transparent w-100">
                  <tbody>
                  <tr>
                    <td>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span id="label-planet" class="input-group-text">Coords</span>
                        </div>
                        <input type="number" name="coords_x" id="coords_x" class="form-control" placeholder="X" value=""/>
                        <input type="number" name="coords_y" id="coords_y" class="form-control" placeholder="Y" value=""/>
                        <input type="number" name="coords_z" id="coords_z" class="form-control" placeholder="Z" value=""/>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span id="label-theme" class="input-group-text">Type</span>
                        </div>
                        <select id="scantype" class="form-control custom-select" name="scantype">
                          <% Object.keys(scantypes).forEach(function(k) { %>
                            <option value="<%= k %>"><%= scantypes[k] %></option>
                          <% }); %>
                        </select>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <% if(member.isADM || member.isSCNR) {%>
              <div class="content">
                <h2>Scan Requests</h2>
                <table class="table table-sm w-100">
                  <thead>
                  <tr>
                    <th class="text-left nowrap" scope="col">Request</th>
                    <th class="text-left nowrap" scope="col">Type</th>
                    <th class="text-left nowrap" scope="col">Coords</th>
                    <th class="text-left nowrap" scope="col">Intel</th>
                    <th class="text-left nowrap" scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for(var i = 0; i < requests.length; i++) { %>
                    <tr>
                      <td><%= requests[i].request_id %></td>
                      <td><%= scantypes[requests[i].scantype] %></td>
                      <td><%= requests[i].x %>:<%= requests[i].y %>:<%= requests[i].z %></td>
                      <td><%= requests[i].planet_id %></td>
                      <td class="fit-content no-wrap">
                          <a class="btn btn-sm btn-success" target="_blank" href="https://game.planetarion.com/waves.pl?id=<%= requests[i].scantype %>&x=<%= requests[i].x %>&y=<%= requests[i].y %>&z=<%= requests[i].z %>"><i class="fas fa-satellite-dish" aria-hidden="true"></i></a>
                          <a class="btn btn-sm btn-danger" target="_blank" href="#"><i class="fas fa-trash" aria-hidden="true"></i></a>
                      </td>
                    </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>
            <% } %>
          </div>
          <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
        </div>
      </div>
    </main>
    <footer>
<%- include("templates/footer"); %>
    </footer>
  </body>
</html>
