<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Strategy", page_description: "Strategy"}); %>
</head>
<body class="page-strategy">
<header>
    <%- include("templates/header"); %>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <% if(content_exists && strategy == "strategy") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Strategy</h2>
                        <%- include("content/strat.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "ship") { %>
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
                    <div class="content">
                        <h2>Ship Build</h2>
                        <%- include("content/strat_ship.html"); %>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-1 col-sm-0"></div>
            <% } else if(content_exists && strategy == "tickplan") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Tickplan</h2>
                        <%- include("content/strat_tickplan.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "forting") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Forting</h2>
                        <%- include("content/strat_forting.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "startup") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Startup Guide</h2>
                        <%- include("content/strat_startup.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "quests") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Quest Management</h2>
                        <%- include("content/strat_quests.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "scans") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Scans</h2>
                        <%- include("content/strat_scans.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "attack") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Attack Policy</h2>
                        <%- include("content/strat_attack.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "defence") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Defence</h2>
                        <%- include("content/strat_defence.html"); %>
                    </div>
                </div>
            <% } else if(content_exists && strategy == "complaints") { %>
                <div class="col-12">
                    <div class="content">
                        <h2>Complaints</h2>
                        <%- include("content/strat_complaints.html"); %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</main>
<footer>
    <%- include("templates/footer"); %>
</footer>
</body>
</html>
