<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Universe", page_description: "Universe"}); %>
</head>
<body class="page-universe">
<header>
    <%- include("templates/header"); %>
</header>
<main>
    <div class="container-fluid">
        <% if(page == "p") { %>
            <div class="row">
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
                <div class="col-xl-8 col-lg-10 col-md-12">
                    <div class="content">
                        <% if(typeof (planet) != "undefined") { %>
                            <% var race = planet.race ? racenames[planet.race.toLowerCase()] : ""; %>
                            <% var raceClass = planet.race ? " class=" + planet.race.toLowerCase() : ""; %>
                            <h2><%= planet.rulername %> of <%= planet.planetname %> (<%= planet.x %>:<%= planet.y %>:<%= planet.z %>) (<span<%= raceClass %>><%= race %></span>)</h2>
                            <div class="d-flex justify-content-center mb-2">
                                <div class="flex-fill">Rank: <%= numeral(planet.score_rank).format("0,0") %></div>
                            </div>
                            <div class="d-flex justify-content-evenly my-2">
                                <div class="flex-fill small">Score: <%= numeral(planet.score).format("0,0") %></div>
                                <div class="flex-fill small">Value: <%= numeral(planet.value).format("0,0") %></div>
                                <div class="flex-fill small">XP: <%= numeral(planet.xp).format("0,0") %></div>
                                <div class="flex-fill small">Size: <%= numeral(planet.size).format("0,0") %></div>
                            </div>
                            <h3>Growth</h3>
                            <div class="d-flex justify-content-center mb-2">
                                
                            </div>
                            <h3>Intel</h3>
                            <div class="d-flex justify-content-center mb-2">

                            </div>
                            <p></p>
                        <% } else { %>
                            <h2>Planets</h2>
                            <table id="table-planets" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">X</th>
                                    <th scope="col">Y</th>
                                    <th scope="col">Z</th>
                                    <th scope="col">Planet Name</th>
                                    <th scope="col">Ruler Name</th>
                                    <th scope="col">Race</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">XP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < planets.length; i++) { %>
                                    <tr>
                                        <td><%= planets[i].x %></td>
                                        <td><%= planets[i].y %></td>
                                        <td><%= planets[i].z %></td>
                                        <td><%= planets[i].planetname %></td>
                                        <td><%= planets[i].rulername %></td>
                                        <td class="<%= planets[i].race ? planets[i].race.toLowerCase() : '' %>"><%= planets[i].race %></td>
                                        <td><%= planets[i].size %></td>
                                        <td><%= planets[i].score %></td>
                                        <td><%= planets[i].value %></td>
                                        <td><%= planets[i].xp %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <script>
                              $(function () {
                                var table = $('#table-planets').DataTable({
                                  "paging": true,
                                  "info": false,
                                  language: {
                                    searchPlaceholder: "Search.."
                                  }
                                });
                                table.page.len(10).draw();
                              });
                            </script>
                        <% } %>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
            </div>
        <% } else if(page === "g") { %>
            <div class="row">
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
                <div class="col-xl-8 col-lg-10 col-md-12">
                    <div class="content">
                        <% if(typeof (galaxy) != "undefined") { %>
                            <h2><%= galaxy.name %></h2>
                        <% } else { %>
                            <h2>Galaxies</h2>
                            <table id="table-galaxy" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">X</th>
                                    <th scope="col">Y</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">XP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < galaxies.length; i++) { %>
                                    <tr>
                                        <td><%= galaxies[i].x %></td>
                                        <td><%= galaxies[i].y %></td>
                                        <td><%= galaxies[i].name %></td>
                                        <td><%= galaxies[i].size %></td>
                                        <td><%= galaxies[i].score %></td>
                                        <td><%= galaxies[i].value %></td>
                                        <td><%= galaxies[i].xp %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <script>
                              $(function () {
                                var table = $('#table-galaxy').DataTable({
                                  "paging": true,
                                  "info": false,
                                  language: {
                                    searchPlaceholder: "Search.."
                                  }
                                });
                                table.page.len(10).draw();
                              });
                            </script>
                        <% } %>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
            </div>
        <% } else if(page === "c") { %>
            <div class="row">
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
                <div class="col-xl-8 col-lg-10 col-md-12">
                    <div class="content">
                        <% if(typeof (cluster) != "undefined") { %>
                            <h2>Cluster <%= cluster.x %></h2>
                        <% } else { %>
                            <h2>Clusters</h2>
                            <table id="table-cluster" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">X</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">XP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < clusters.length; i++) { %>
                                    <tr>
                                        <td><%= clusters[i].x %></td>
                                        <td><%= clusters[i].size %></td>
                                        <td><%= clusters[i].score %></td>
                                        <td><%= clusters[i].value %></td>
                                        <td><%= clusters[i].xp %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <script>
                              $(function () {
                                $('#table-cluster').DataTable({
                                  "paging": false,
                                  "info": false,
                                  language: {
                                    searchPlaceholder: "Search.."
                                  }
                                });
                              });
                            </script>
                        <% } %>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
            </div>
        <% } else if(page === "a") { %>
            <div class="row">
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
                <div class="col-xl-8 col-lg-10 col-md-12">
                    <div class="content">
                        <% if(typeof (alliance) != "undefined") { %>
                            <h2><%= alliance.name %></h2>
                        <% } else { %>
                            <h2>Alliances</h2>
                            <table id="table-alliance" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Members</th>
                                    <th scope="col">Points</th>
                                    <th scope="col">Avg. Score</th>
                                    <th scope="col">Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < alliances.length; i++) { %>
                                    <tr>
                                        <td><%= alliances[i].name %></td>
                                        <td><%= alliances[i].size %></td>
                                        <td><%= alliances[i].members %></td>
                                        <td><%= alliances[i].points %></td>
                                        <td><%= alliances[i].score_avg %></td>
                                        <td><%= alliances[i].score %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <script>
                              $(function () {
                                $('#table-alliance').DataTable({
                                  "paging": false,
                                  "info": false,
                                });
                                language: {
                                  searchPlaceholder: "Search.."
                                }
                              });
                            </script>
                        <% } %>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-1 col-md-0"></div>
            </div>
        <% } else { %>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h2>Top 10 Alliances</h2>
                        <div class="table-responsive">
                            <table id="table-alliance" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Members</th>
                                    <th scope="col">Points</th>
                                    <th scope="col">Avg. Score</th>
                                    <th scope="col">Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var a = 0; a < alliances.length; a++) { %>
                                    <tr>
                                        <td><%= alliances[a].name %></td>
                                        <td><%= alliances[a].size %></td>
                                        <td><%= alliances[a].members %></td>
                                        <td><%= alliances[a].points %></td>
                                        <td><%= alliances[a].score_avg %></td>
                                        <td><%= alliances[a].score %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h2>Top 5 Clusters</h2>
                        <div class="table-responsive">
                            <table id="table-cluster" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">X</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">XP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var c = 0; c < clusters.length; c++) { %>
                                    <tr>
                                        <td><%= clusters[c].x %></td>
                                        <td><%= clusters[c].size %></td>
                                        <td><%= clusters[c].score %></td>
                                        <td><%= clusters[c].value %></td>
                                        <td><%= clusters[c].xp %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h2>Top 50 Galaxies</h2>
                        <div class="table-responsive">
                            <table id="table-galaxy" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">X</th>
                                    <th scope="col">Y</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">XP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var g = 0; g < galaxies.length; g++) { %>
                                    <tr>
                                        <td><%= galaxies[g].x %></td>
                                        <td><%= galaxies[g].y %></td>
                                        <td><%= galaxies[g].name %></td>
                                        <td><%= galaxies[g].size %></td>
                                        <td><%= galaxies[g].score %></td>
                                        <td><%= galaxies[g].value %></td>
                                        <td><%= galaxies[g].xp %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="content">
                        <h2>Top 100 Planets</h2>
                        <div class="table-responsive">
                            <table id="table-planets" class="table table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">X</th>
                                    <th scope="col">Y</th>
                                    <th scope="col">Z</th>
                                    <th scope="col">Planet Name</th>
                                    <th scope="col">Ruler Name</th>
                                    <th scope="col">Race</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">XP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var p = 0; p < planets.length; p++) { %>
                                    <tr>
                                        <td><%= planets[p].x %></td>
                                        <td><%= planets[p].y %></td>
                                        <td><%= planets[p].z %></td>
                                        <td><%= planets[p].planetname %></td>
                                        <td><%= planets[p].rulername %></td>
                                        <td class="<%= planets[p].race ? planets[p].race.toLowerCase() : '' %>"><%= planets[p].race %></td>
                                        <td><%= planets[p].size %></td>
                                        <td><%= planets[p].score %></td>
                                        <td><%= planets[p].value %></td>
                                        <td><%= planets[p].xp %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main>
<footer>
    <%- include("templates/footer"); %>
</footer>
</body>
</html>
