<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="row">
        <div class="col-4 text-start">
            <div class="footer-tab">
                <i class="fas fa-clock" aria-hidden="true"></i><% if(tick !== undefined) { %>&nbsp;<b><%= tick.tick %></b><% } %>
            </div>
        </div>
        <div class="col-4 text-center">
            <% if(member !== undefined && member !== null && active_attacks !== undefined && active_attacks.length > 0) { %>
            <div class="footer-tab">
                <i class="fas fa-crosshairs" aria-hidden="true"></i>
                <% for(let a = 0; a < active_attacks.length; a++) { %>
                    <a href="/att/<%= active_attacks[a].hash %>"><%= active_attacks[a].number %></a><% if(a < active_attacks.length - 1) { %><span class="separator">|</span><% } %>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="col-4 text-end">
            <% if(member?.planet !== undefined && member.planet !== null) { %>
            <div class="footer-tab">
                <i class="fas fa-globe-americas" aria-hidden="true"></i>&nbsp;<strong><a href="/uni/c/<%= member.planet.x %>"><%= member.planet.x %></a><span class="separator">:</span><a href="/uni/g/<%= member.planet.x %>/<%= member.planet.y %>"><%= member.planet.y %></a><span class="separator">:</span><a href="/uni/p/<%= member.planet.x %>/<%= member.planet.y %>/<%= member.planet.z %>"><%= member.planet.z %></a></strong>
            </div>
            <% } %>
        </div>
    </div>
</div>
