<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="row">
        <div class="col-4 text-start">
            <div class="footer-tab">
                <i class="fas fa-clock" aria-hidden="true"></i><% if(tick !== undefined) { %>&nbsp;<b><%= tick.tick %></b><% } %>
            </div>
        </div>
        <div class="col-4 text-center">
            <% if(member !== undefined && member !== null) { %>
            <div class="footer-tab">
                <i class="fas fa-crosshairs" aria-hidden="true"></i><% if(tick !== undefined) { %>&nbsp;<b>13</b><% } %>
            </div>
            <% } %>
        </div>
        <div class="col-4 text-end">
            <% if(member?.planet !== undefined && member.planet !== null) { %>
            <div class="footer-tab">
                <div class="footer-tab-section">
                    <i class="fas fa-globe-americas" aria-hidden="true"></i>&nbsp;<a href="/uni/p/<%= member.planet.x %>/<%= member.planet.y %>"><b><%= member.planet.x %>:<%= member.planet.y %></b></a>
                </div>
                <div class="footer-tab-section">
                    <a href="/uni/p/<%= member.planet.x %>/<%= member.planet.y %>/<%= member.planet.z %>"><b>:<%= member.planet.z %></b></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<script>
	$(document).ready(function () {
		$('table tr[data-href]').click(function () {
			window.location = $(this).data('href');
			return false;
		});
	});
</script>
